.my-footer {
    background-color: #163b65;
    margin-top: 1.5em;
    height: 5em;
    padding: 1em;
    color: white;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.swal2-actions {
    z-index: 0;
}