{{template "base" .}}

{{define "content"}}
<div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                    alt="room image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-btn" href="#!" class="btn btn-success">Check Availabilty</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
<script src="/static/js/availability-handler.js"></script>
<script>
    const roomId = 2;
    addRoomAvailabilityHandler(roomId, {{.CSRFToken}});
</script>
{{end}}